.Workshops {
    background: linear-gradient(
            to bottom, 
            #000000 0%, 
            #070309 56%, 
            #1A061F 100%
    );
    color: #F1ECE5;

    height: 101vh;
    left: 0;
    position: relative;
    top: 0;
    width: var(--adaptive-vw);
    z-index: 1;

    padding: 10vh 4%;
}

.Workshops-Heading {
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-family: Ilyas, serif;
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 300;
}

.Workshops-Description {
    width: 60%;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1vw;
    margin-bottom: 10%;
}

.Workshops-List-Heading-Container {
    display: none;
    width: 60%;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;

    position: relative;
    display: flex;
    align-items: center;
}

.Workshops-List-Heading-Border {
    position: absolute;
}

.Workshops-List-Heading {
    padding-left: 1%;
}

.Workshops-Boxes-Container {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    gap: 3%;
    margin-bottom: 10vh;
}

.Workshops-Box {
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 6%;
}

.Workshops-Image {
    width: 100%;
    height: 100%;
}

.Workshops-Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Workshops-Title {
    width: 100%;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
}

.Workshops-Title a {
    color: #F1ECE5;
    text-decoration: underline;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Workshops {
        background: linear-gradient(
                to bottom, 
                #000000 0%, 
                #070309 56%, 
                #1A061F 100%
        );
        color: #F1ECE5;
    
        height: auto;
        left: 0;
        position: relative;
        top: 0;
        width: var(--adaptive-vw);
        z-index: 1;
    
        padding: 10vh 4%;
    }
    
    .Workshops-Heading {
        margin-top: 15vh;
        margin-bottom: 1vh;
        font-family: Ilyas, serif;
        text-transform: uppercase;
        font-size: 13.7vw;
        font-weight: 300;
    }
    
    .Workshops-Description {
        width: 100%;
        text-transform: uppercase;
        font-family: 'JetBrains Mono', monospace;
        font-size: 3vw;
        margin-bottom: 10%;
    }
    
    .Workshops-List-Heading-Container {
        width: 100%;
        font-size: 1.5vw;
        text-transform: uppercase;
        font-family: 'JetBrains Mono', monospace;
    
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .Workshops-List-Heading-Border {
        position: absolute;
    }
    
    .Workshops-List-Heading {
        padding-left: 1%;
    }
    
    .Workshops-Boxes-Container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 3%;
        margin-bottom: 10vh;
    }
    
    .Workshops-Box {
        width: 48%;
        display: flex;
        flex-direction: column;
        gap: 6%;
    }
    
    .Workshops-Image {
        width: 100%;
        height: 100%;
    }
    
    .Workshops-Image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .Workshops-Title {
        width: 100%;
        text-transform: uppercase;
        font-family: 'JetBrains Mono', monospace;
    }
    
    .Workshops-Title a {
        color: #F1ECE5;
        text-decoration: underline;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}










