.BgCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the parent width */
  height: 100%; /* Make sure it takes up the full height of the parent element */
  overflow: hidden; /* To prevent the image from overflowing */
  z-index: -1;
}

.BgCont-Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466)
  
}

.BgCont img {
  object-fit: cover; /* Ensures the image covers the area without stretching */
  object-position: center; /* Centers the image */
  width: 100%; /* Makes the image fill the width of the parent */
  height: 100%; /* Makes the image fill the height of the parent */
  aspect-ratio: 1512 / 14199; /* Maintains the image's aspect ratio */
}