.Accomodation {
    background: linear-gradient(
        to bottom, 
        #000000 0%, 
        #070309 56%, 
        #000000 100%
    );
    color: #F1ECE5;
    
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: var(--adaptive-vw);
    z-index: 1;
    
    padding: 10vh 4%;
}

.Accomodation-Heading {
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-family: Ilyas, serif;
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 300;
}

.Accomodation-Description {
    width: 60%;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1vw;
    margin-bottom: 10%;
}

.Accomodation-Map-Container {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.Accomodation-Map-Container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.Accomodation-Faqs-Container {
    font-family: "JetBrains Mono", monospace;
    border-top: 0.1vh solid #676767;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: auto;
    padding: 5vh 0;
    width: 100%;
}



.Accomodation-Faqs-Top {
    font-size: 1.1vw;
    color: #ffffff;
    display: flex;
    gap: 0.4%;
}

.Accomodation-Faqs-Answer {
    font-size: 0.9vw;
    color: #ffffffa6;
    display: flex;
    flex-direction: column;
    gap: 1%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Accomodation {
        background: linear-gradient(
            to bottom, 
            #000000 0%, 
            #070309 56%, 
            #000000 100%
        );
        color: #F1ECE5;
        
        height: auto;
        left: 0;
        position: relative;
        top: 0;
        width: var(--adaptive-vw);
        z-index: 1;
        
        padding: 25vh 8% 10vh 8%;
    }
    
    .Accomodation-Heading {
        margin-top: 0;
        margin-bottom: 3vh;
        font-family: Ilyas, serif;
        text-transform: uppercase;
        font-size: 13.7vw;
        font-weight: 300;
    }
    
    .Accomodation-Description {
        width: 100%;
        text-transform: uppercase;
        font-family: 'JetBrains Mono', monospace;
        font-size: 3.4vw;
        margin-bottom: 2%;
    }
    
    .Accomodation-Map-Container {
        width: 100%;
        height: auto;
        margin-bottom: 10%;
    }

    .Accomodation-Map-Heading {
        margin-top: 10vh;
    }
    
    .Accomodation-Map-Container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    
    .Accomodation-Faqs-Container {
        font-family: "JetBrains Mono", monospace;
        border-top: 0.1vh solid #676767;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 3vh 0;
        width: 100%;
    }
    
    
    
    .Accomodation-Faqs-Top {
        font-size: 4.3vw;
        color: #ffffff;
        display: flex;
        gap: 0.4%;
    }
    
    .Accomodation-Faqs-Answer {
        font-size: 3.5vw;
        color: #ffffffa6;
        display: flex;
        flex-direction: column;
        gap: 1%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

