.carousel-container {
    width: 80%; /* Adjust the size of the container */
    margin: 0 auto;
  }
  
  .swiper-container {
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-image:hover {
    transform: scale(1.05);
  }
  
  /* Swiper navigation buttons */
  .swiper-button-next,
  .swiper-button-prev {
    color: #333;
    transition: color 0.3s;
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #000;
  }
  