* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0px solid red;


  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;

}

#root {
  width: var(--adaptive-vw);
  height: auto;
}

/* For the entire page */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f0f0f0; /* Thumb color and track color for Firefox */
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-thumb {
  background: #EB4B9B; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #EB4B9B; /* Darker color when hovered */
  text-shadow: 0px 0px 1vw rgb(235, 75, 155),
  0px 0px 1vw rgb(235, 75, 155);
}

::-webkit-scrollbar-track {
  background: #000000; /* Background color of the scrollbar track */
  border-radius: 0; /* Rounded corners */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}




.ofh {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.glow-heading {
  color: #EB4B9B;
  text-shadow: 0px 0px 5vw rgb(235, 75, 155),
  0px 0px 5vw rgb(235, 75, 155);
}

.glow-hover {
  transition: color 0.3s ease;
}

.glow-hover:hover {
  color: #EB4B9B;
  text-shadow: 0px 0px 1vw rgb(235, 75, 155),
  0px 0px 1vw rgb(235, 75, 155);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

